
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Completed Orders</th>
            <th>Pending</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            var pendingOrders = item.Orders.Count - item.Histories.Count;
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Histories.Count</td>
                <td>@pendingOrders / 5
            </td>
            <td><a href="/Employees/CollectOrders/@item.Id">Collect</a></td>
        </tr>
    }
    </table>
</div>