
@{
    ViewBag.Title = "AddEmployees";
}

<h2>AddEmployees</h2>
<br />
<div>
    <form method="post" id="login">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter employee name here">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address here">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" name="age" placeholder="Enter age here">
        </div>
        <div class="form-group">
            <label for="sex">Sex</label>
            <input type="text" class="form-control" id="sex" name="sex" placeholder="Enter sex here">
        </div>
        <a href="./employees" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

